* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #42454A;
}

a {
    color: #42454A;
    font-size: 0.9rem;
}

a:hover {
    color: #000;
}

header {
    border-bottom: 1px solid #EAE8F3;
}

.btn {
    font-size: 0.8rem;
    border-radius: 0.5em;
    padding: 1em 1.5em;
}

.btn-light {
    background: white;
    border: none;
}

.btn-link {
    box-shadow: none !important;
    padding: 0;
}

.btn-dark {
    background: #42454A;
}

.shadow, .btn {
    -webkit-box-shadow: 0px 12px 25px -10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 12px 25px -10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 12px 25px -10px rgba(34, 60, 80, 0.2);
}
